# Credentials
GLUETUN_USER=admin
GLUETUN_PASS=password123

# Secrets
## GENERATE HASH USING: docker run --rm -it ghcr.io/wg-easy/wg-easy wgpw 'YOUR_PASSWORD'
WG_PASSWORD_HASH='$2a$12$HASH_GOES_HERE'
NORD_TOKEN='your_nord_token'
NORD_PRIVATE_KEY='your_private_key'

# Filtering
NORD_SERVER_COUNTRIES=Germany
NORD_SERVER_CITIES=